<div class="aboutUs">
    <div class="left">
        <h2 class="headdin"> About us </h2>
        <h2 class="tag"> Bring the taste to door step </h2>
        <p>Agice spices started by Srr lakan borne singaporeans which main bring the best healthy authentic 
            sri lankan spices to singaporens. We buy spices directly from the farmers and directly sell them to the 
            primary consumers. We except to avoid  interemediate transations much as we can and bring that benifit to farmers 
            and our cusotmers.
        </p>
        

    </div>
    <div class="right">
        <img src="\assets\images\aboutus\Aboutus.JPG" alt="">            
       
    </div>       

</div>  
<div class="clearformat"></div>

<div class="partnercontent" >    
    <h2 > Partners </h2>
    <div class="left">
    <a href="#"><img src="../../assets/images/Partners/tropicalexport.jpg" alt=""></a>
    </div>
     
    <div class="right">
        <p>Tropical Export is our sri lanka parnter which is licensed exporter for cinnamon. 
            Assiting us on ou mission
        </p>
    </div>
    <div class="clearformat"> </div>
</div>
    