<div id="homecontent">
    <div class="imageslide">
        <ng-image-slider [images]="imageObject" [imageSize]="{width: '20%', height: '30%', space: 3}" #nav></ng-image-slider>
    </div>    
    <div id="siteDesc">
        <h2>Ceylon Pepper </h2>
        <p>Pepper is known as the King of Spice one of the most important spices in the world.

            Ceylon Pepper is organic and has a higher piperine content, which gives it a superior quality and pungency.
            We supply the finest grade Ceylon Pepper in whole, coarse or in ground form to our customers world over.
        </p>
    </div>    
</div>

